body {

font-family: Helvetica;
background: rgb(244,244,244);

}

header {

	position: absolute;

	display: flex;
	justify-content: space-between;

	padding: 2rem;

}

.intro {

	width: 40%;
	text-align: right;

}

footer {

	position: absolute;
	bottom: 0;

	width: 100%;

}

nav {

	display: flex;
	justify-content: space-between;

	padding: 2rem;
	/*padding-left: 10rem;
	padding-right: 10rem;*/

	padding-left: 40rem;
	padding-right: 40rem;

	font-size: 1.2rem;

}

.blocker {

	display: none;

	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  /*background: rgba(0,0,0,.5);*/

}

.box {
	
	display: none;
	position: absolute;
	
	width: 600px;
	max-height: 60%;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border: 0.1rem solid black;
	
	overflow: scroll;

	padding: 2rem;

}

.button {

  	text-align: center;

		border: 0.1rem solid black;

		font-size: 1.2rem;
		cursor: pointer;

}

.reflection {

	padding-top: 1.5rem;

}

.note {

	padding-top: 1.5rem;
	text-align: right;

	font-size: .8rem;

}

.modal-backdrop {

	background-color: transparent;
}

/* links */
.reset-a {

    text-decoration: none;
    color: inherit;

}
.reset-a:hover {

    text-decoration: none;
    color: inherit;
    opacity: 50%;
}

@media screen and (max-width: 700px) {
  
  header {

    display: block;

  }

  .intro {

	width: 100%;
	text-align: left;

	margin-top: 2rem;

  }

	nav {

	padding-left: 2rem;
	padding-right: 2rem;	

  }

  .box {

  	width: 350px;

  }

}